@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);body {
  background: #c1c1c1cf;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin: 0;
}

#title {
  z-index: 1;
  color: #cccccc;
  background-color: #000000;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: uppercase;
  padding: 18px 0 35px 25px;
  width: 100%;
  position: fixed;
}

.top-right {
  z-index: 2;
  position: fixed;
  right: 10px;
  top: 18px;
}

.links > a {
  color: #cccccc;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.iframe {
  width: 800px;
  height: 750px;
}

#phpgrid {
  margin: -108px 0 0px 10%;
}

.sidebar {
  position: fixed;
  width: 15%;
  margin-top: 75px;
  height: 100%;
  background: black;
}

.sidebar-nav {
  padding: 0 25px;
}

.sidebar-nav a {
  line-height: 60px;
  color: #cccccc;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

#firstnames {
  display: inline-block;
  margin-top: 75px;
  width: 18%;
}

#emails {
  display: inline-block;
  margin-top: 75px;
  width: 39%;
}

#names {
  display: inline-block;
  margin-left: 16%;
  margin-top: 75px;
  width: 14%;
}

#app {
  padding-top: 75px;
  padding-left: 231px;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 0;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

