
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";


body {
    background: #c1c1c1cf;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    
    margin: 0;
}

#title {
    z-index: 1;
    color: #cccccc;
    background-color: #000000;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    padding: 18px 0 35px 25px;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.links > a {
    color: #cccccc;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.iframe {
  width: 800px;
  height: 750px;	
}

#phpgrid {
  margin: -108px 0 0px 10%;
}

.sidebar {
  width:10%;
}

.sidebar-nav{
  width:auto;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
